@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .buttons {
    flex-direction: column;
  }

    .navbar-container {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
  }
} 